@import 'tailwindcss';

@source '../../resources/**/*.{blade.php,js,ts,vue}';

@variant dark (&:is(.dark *));

/* App specific styles */
#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
